# Database Configuration
DB_PASSWORD=postgres123

# Airflow Configuration
AIRFLOW_SECRET_KEY=dev-secret-key-change-in-prod
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=admin@airflow.com

# MinIO Configuration
MINIO_PASSWORD=minioadmin123

# Grafana Configuration
GF_SECURITY_ADMIN_PASSWORD=admin
