.env
__pycache__/
*.py[cod]
*.egg-info/
.coverage
coverage.xml
htmlcov/
.pytest_cache/
reports/
.mypy_cache/
**/data/raw/*
**/data/bronze/*
**/data/silver/*
**/data/gold/*
!**/data/raw/.gitkeep
!**/data/bronze/.gitkeep
!**/data/silver/.gitkeep
!**/data/gold/.gitkeep
data/
